.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hide {
  display: none ! important;
}
#map {
  width: 70%;
  height: 100%;
  display: block;
  position: absolute;
}
#map img {
  max-width: none;
}
#map label {
  width: auto;
  display: inline;
}
#settings {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
#settings ul {
  padding-left: 20px;
}
#settings ul li {
  clear: both;
  padding-right: 20px;
  border-bottom: 1px solid #ddd;
}
#settings ul li .btn {
  vertical-align: top;
}
#settings ul li .btn-mini {
  display: none;
}
#settings ul li:hover .btn-mini {
  display: inline-block;
}
.genres {
  display: block;
  float: left;
}
.inline-control {
  display: inline-block;
  float: right;
  margin-top: -12px;
  margin-right: 20px;
}
.icon.icon-foursquare,
.icon.icon-echonest {
  background-position: top left;
}
.icon.icon-foursquare {
  background-image: url(../img/foursquare-16x16.png);
}
.icon.icon-echonest {
  background-image: url(../img/echonest-16x16.png);
}
